
h1{
  font-family: 'Kalam', cursive;
  text-align: center;
  font-size: 50px;
}
.image{
  width:10px;

margin-left: 800px;
  /*margin: 0 auto;*/
}


 

p{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px
}
body {
  background-image: url("pinky.jpg");
}








